In [63]:
import pandas as pd

In [23]:
data = pd.read_csv("weather_data .csv")

In [24]:
data["temp"].min()

12

In [35]:
temp_list = data['temp'].to_dict()

In [38]:
data["temp"].mean()

17.428571428571427

In [41]:
data.condition

0      Sunny
1       Rain
2       Rain
3    Cloundy
4      Sunny
5      Sunny
6      Sunny
Name: condition, dtype: object

In [43]:
data[data.day == "Monday"]

      day  temp condition
0  Monday    12     Sunny

In [45]:
data[data.day == "Sunday"]

      day  temp condition
6  Sunday    24     Sunny

In [54]:
monday = data[data.day == 'Monday']

In [59]:
monday_temp = 9/5 * monday.temp + 32

In [60]:
monday_temp

0    53.6
Name: temp, dtype: float64

In [69]:
data_dict = {
    "students": ["Any", "James", "Angles"],
    "scores": [76, 56,65]
}

In [70]:
data = pd.DataFrame(data_dict)

In [71]:
data

  students  scores
0      Any      76
1    James      56
2   Angles      65

In [82]:
df = pd.DataFrame({
    "a": [23, 23,35],
    "b": [21, 54, 64],
    "c": [45, 23, 65]},
)

In [93]:
mylist = [12, 23, 35, 54, 234, 54, 23, 34,23 ,23, 53, 2354]
my = [23, 34, 89,90, 78, 89, 78, 34, 45, 89, 98]